:root {
    --dorado: #fbc83f;
    --blancoroto: #f5f5f5;
    --colorfuente: #333;
    --negro: #000;
    --tamaño-fuente-base: 16px;
    --tamaño-fuente-subtitulos: 2em;
    --tamaño-fuente-titulo: 4em;
    --fuente-base: "Scheherazade New", serif;
    --fuente-titulo: "Anta", sans-serif;
}

/* Reset y base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navegación */
.nav {
    z-index: 1000;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0 0 20px 0 #3335;
}

.nav img {
    max-width: 90px;
    float: left; 
    margin: 10px;
}

.nav__menu {
    margin-left: 365px;
    list-style: none;
    display: block;
    text-align: center;
}

.nav__menu__item {
    float: left;
    padding-right: 10px;
    margin-right: 20px;
    margin-top: 35px;
}

.nav__menu__item a {
    padding: 5px 15px;
    color: var(--colorfuente);
    text-decoration: none;
    font-family: var(--fuente-base);
    font-size: 1.2em;
}

.nav__menu__item a:hover {
    background-color: var(--dorado);
    border-radius: 5px;
    transition: background-color 0.43s ease;
}

/* Sección Bienvenida */
#bienvenida {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: white;
}

#bienvenida img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.57);
    z-index: 1;
}

#bienvenida h1,
.bienvenida__lema,
.bienvenida__boton {
    position: relative;
    z-index: 2;
}

#bienvenida h1 {
    padding: 0 300px;
    font-family: var(--fuente-titulo);
    font-size: var(--tamaño-fuente-titulo);
}

#bienvenida h1 strong:hover {
    color: var(--dorado);
    transition: color 0.43s ease;
}

.bienvenida__lema {
    letter-spacing: 4px;
    font-size: 1.2em;
    margin: 10px 0;
}

.bienvenida__boton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--dorado);
    color: var(--colorfuente);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-family: inherit;
}
.bienvenida__boton:hover{
    background-color: #e2b439;
    transition: background-color .3s ease;
}

/* Sección Sobre Nosotros */
#sobre-nosotros {
    margin: 50px;
    text-align: center;
}

#sobre-nosotros h2 {
    color: var(--colorfuente);
    font-family: var(--fuente-base);
    font-size: 2em;
}

#sobre-nosotros hr {
    width: 30%;
    border-radius: 30%;
    border: 1px solid var(--dorado);
    margin: 10px auto;
}

.sobre-nosotros__contenido {
    width: 100%;
    padding: 10px 30px;
    overflow: hidden; 
    text-align: justify;
}

.sobre-nosotros__contenido img {
    float: right;
    margin-right: 20px;
    width: 30%;
    height: 370px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sobre-nosotros__contenido p {
    height: 370px;
    float: left;
    width: 65%;
    padding-top: 80px;
    line-height: 1.6em;
}

/* Sección Testimonios */
#testimonio {
    margin: 50px;
    text-align: center;
}

#testimonio h2 {
    font-family: var(--fuente-base);
    font-size: 2em;
    color: var(--colorfuente);
}

.testimonio__google-info {
    padding: 10px 30px;
    margin: 20px 70px;
    padding: 10px;
    background-color: #ffffff;
    border: 2px solid var(--dorado);
    border-radius: 10px;
    text-align: justify;
}

.google-logo {
    width: 40px;
    display: inline-block;
}
.google_info_puntuacion{
    width: 30%;
    display: inline-block;
}
.google_info_puntuacion span{
    font-weight: bold;
    font-size: 1.2em;
}

.testimonio__google-info__boton {
    background-color: #48f;
    float: right;
    text-decoration: none;
    color: white;
    padding: 13px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.testimonio__google-info__boton:hover{
    text-decoration: underline;
}
/*Reseñas*/
.reseñas{
    margin: 20px;
}
.testimonio__reseña {
    border: 2px solid var(--dorado);
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    text-align: justify;
    height: 200px;
    width: 30%;
    display: inline-block;
    padding: 20px;
    position: relative;
}
.testimonio__reseña .nombre{
    font-weight: bold;
    padding: 5px; 
}
.testimonio__reseña .estrellas{
    padding: 5px; 
}

.testimonio__reseña .texto {
    padding: 5px;
    display: block;
    line-height: 1.5em; /* Ajusta según el tamaño de la línea */
    max-height: 4.5em; /* 3 líneas = 3 * line-height (1.5em * 3 = 4.5em) */
    overflow: hidden;
    text-overflow: ellipsis;
}
.testimonio__reseña a{
    line-height: 1.5em; 
    padding: 5px;
    color: var(--colorfuente);
    text-decoration: none;
}
.testimonio__reseña a:hover{
    color:#48f;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

/*Promotores*/
.promotores{
    float: left;
    text-align: center;
    margin: 50px;
    padding: 20px;
    width: 25%;
    height: 400px;
    vertical-align: top;

}
.promotores__logos{
    margin: 5px;
    margin-bottom: 10px;
}
.promotores h2{
    margin-bottom: 10px;
}
.promotores__logos img{
    height: 120px;
    object-fit: cover;
    box-shadow: 0 0 5px 0 #303030;
    width: 120px;
    margin: 5px;
    border-radius: 5px;
}
.promotores__logos img:hover{
    transition: box-shadow .4s ease-in-out;
    box-shadow: 0 0 10px 0 black;
}
.promotores__boton{
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
    width: 100%;
    background-color: var(--dorado);
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
.promotores__boton:hover{
    text-decoration: underline;
    background-color: #e2b439;
    transition: background-color text-decoration .5s ease;
}
/* Galería */
#galeria {
    outline: 1px solid var(--colorfuente);
    margin: 50px;
    padding: 20px;
    display: inline-block;
    width: 55%;
    height: 400px;
    text-align: center;
    position: relative; /
}


#galeria img {
    object-fit: cover;
    object-position: 2px 20%;
    width: 80%;
    height: 300px;
    margin: 5px;
    border-radius: 10px;
    transition: filter 0.3s ease; 
}

#galeria img:hover {
    filter: brightness(0.6); 
}

.galeria__overlay {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    font-size: 2em;
    font-family: var(--fuente-base);
    font-weight: bold;
    visibility: hidden; 
    opacity: 0;
    
}

#galeria img:hover + .galeria__overlay {
    visibility: visible; /* Muestra el overlay cuando la imagen es hoverada */
    opacity: 1; /* Asegura que el overlay sea visible */
    transition: 0.5s ease-in-out; 
}

/*Footer*/
footer{
    content: "";
    clear: both;
}
footer {
    background-color: var(--negro);
    color: white;
    padding: 20px;
    text-align: center;
    clear: both;
    position: relative;
    
}
.bloque{
    vertical-align: top;
    margin-left: 107px;
    padding: 20px;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 10px;
}
footer::after{
    content: "";
    clear: both;
}
footer img {
    width: 30px;
    height: auto;
    margin-right: 10px;
    vertical-align: middle;
}

footer h3 {
    font-family: var(--fuente-titulo);
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--dorado);
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-family: var(--fuente-base);
    font-size: 1em;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: var(--dorado);
}

footer p {
    font-size: 0.9em;
    color: #bbb;
    text-align: center;
}
